/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 .carousel .carousel-inner {
    max-width: 100%;
    height: auto;
}

.carousel .carousel-inner img{
    width: 3000px;
}

#header .logo {
    max-width: 100%;
    height: auto;
}